.accountCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto 2rem auto;
  padding: 1.5rem;
  border-radius: 0.25rem;
  text-align: left;
  background: white;
  h3 {
    color: #222;
    margin: 0 0 0.125rem 0;
    font-size: 1rem;
    font-weight: 400;
  }
  p {
    margin: 0;
    line-height: initial;
  }
  @media screen and (max-width: 768px){
    width: 100%;
    flex-direction: column;
    padding-bottom: 0;
}
}

.amount {
  font-size: 2.5rem;
  font-weight: 700;
}
